BOT_TOKEN=Your Bot Token
CLIENT_ID=Your Bot Client ID
DATABASE_URL=file:./creo.db

LAVALINK_URL=in-1.feroxdevs.dpdns.org:25570
LAVALINK_AUTH=ferox
LAVALINK_NAME=MainNode

PREFIX=.
OWNER_ID=Your Owner ids

# Webhooks
WEBHOOK_ERROR=
WEBHOOK_GUILD=
WEBHOOK_COMMAND=
WEBHOOK_NP=
WEBHOOK_PREMIUM=